<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64DAB09B1D55EA0C0029BB8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DAB0AF1D55EA0C0029BB8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DAB0BA1D55EA0C0029BB8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64E382E41D96E17100467364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
